@import url("https://fonts.googleapis.com/css2?family=League+Spartan&family=Playfair+Display:ital@1&display=swap");
* {
    box-sizing: border-box;
  }
body {
    margin:0;
    padding: 0;
}
.pages {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}
.page {
    min-height: 100vh;
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#p1 {
    width: 91vw;
    background-image: url("images/background.jpeg");
}

#p2 {
    width: 3vw;
    background-image: url("images/marnie021.jpeg");
}

#p3 {
    width: 3vw;
    background-image: url("images/chihiro042.jpeg");
}

#p4 {
    width: 3vw;
    background-image: url("images/marnie050.jpeg");
}
#b1 {
    display:none;
    opacity: 0;
}
.bar {
    height: 100%;
    width: 3vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 2vh;
    background-color:#463f3a;
    font-size: 2vw;
    font-family: "League Spartan", serif;
    color: #f4f3ee;
    border-width: 0;
    border-right-width: 1px;
    border-color: #8A817C;
    border-style: dashed;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    opacity: 0.8;
}
.page-content {
    display: flex;
    min-height: 100vh;
    position:relative;
    width: 91vw;
    opacity: 0;
    display: none;
}

.nav-container {
    position: absolute;
    height: min(6vh, 6vw);
    width: min(32vh, 32vw);
    top: 2vh;
    right: 2vw;
    display: flex;
}

.nav-icon {
    position: relative;
    height: min(6vh, 6vw);
    width: min(6vh, 6vw);
    margin-right: min(2vw, 2vh);
}

#name {
    font-size: min(5vw, 5vh);
    color: #463f3a;
    font-family: "Playfair Display", serif;
    letter-spacing: 2vw;
    text-align: center;
    text-shadow: -5px 0px 5px #f4f3ee;
    margin:0;
}

#butterfly {
    height: min(10vw, 10vh);
    width: min(10vw, 10vh);
}

#short-intro {
    height: min(8vw, 8vh);
    width: min(80vw, 80vh);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 2vh;
}

.filler {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #f4f3ee;
    opacity: 0.8;
    border-radius: 1vw;
}

.text-dark {
    font-size: min(3vw, 3vh);
    color: #463f3a;
    z-index: 999;
    font-family: "League Spartan", serif;
    line-height: min(4vw,4vh);
}
.section-title {
    font-size: min(3vw, 3vh);
    color: #463f3a;
    z-index: 999;
    font-family: "Playfair Display", serif;
    line-height: min(4vw,4vh);
    text-align: center;
}

.content {
    width: 85vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0;
    margin-left: 0;
    margin-top: 5vh;
}
.text-box {
    display: flex;
    position: relative;
    padding: 1vw;
}

#m1 {
    width: 40vw;
    position: relative;
    margin-right: 3vw;
}
#m2 {
    width: 40vw;
    position: relative;
    margin-left: 3vw;
}

.icons {
    width: min(6vw, 6vh);
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
    z-index: 999;
}

.header {
    width: 85vw;
    display: flex;
    padding-top: 5vh;
    padding-bottom: 5vh;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.circle {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card-container {
    height: 80vh;
    width: 80vw;
    perspective: max(100vw, 100vh);
    margin-bottom: 1vh;
    margin-top: 1vh;
    display:flex;
}

.flip-card {
position: relative;
width: 100%;
height: 100%;
transition: transform 1s;
transform-style: preserve-3d;
}

.flip-card-container:hover .flip-card {
transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
width: 100%;
height: 100%;
position: absolute;
backface-visibility: hidden;
display: flex;
justify-content: center;
align-items: center;
border-radius: 3vw;
flex-direction: column;
padding: 2vw;

}

.flip-card-front {
background-color: #f4f3ee;
color:#463f3a;
}

.flip-card-back {
background-color:#8A817C;
color:#f4f3ee;
transform: rotateY(180deg);
align-items: flex-start;
display: flex;
height: auto;
min-height: 100%;
}

.language {
    height: 7vh;
    width: 85vw;
    margin-top: 2vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}