@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Playfair+Display:ital@1&display=swap');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  cursor: url(images/girl.png), auto; 
}
.parallax {
  /* The image used */
  background-image: url("images/background.jpeg");
  /* Set a specific height */
  width: 100vw;
  min-height: 10000px;
  height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  position: relative;
  z-index: -1
}
.intro_container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#circle {
  background-color: #463F3A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  max-width: 80vh;
  height: 80vw;
  max-height: 80vh;
  position: relative;
  border-radius: 50%;
  opacity: 0.8;
  z-index: 1;
}
#name {
  z-index: 2;
  font-size: 10vw;
  position: relative;
  color: #F4F3EE;
  font-family: "Playfair Display", serif;
  letter-spacing: 1vw;
  opacity: 0;
  animation: ani1 1s ease-out forwards;
  padding:0;
  margin: 0;
  text-align: center;
}
#small_intro {
  margin: 0;
  z-index: 2;
  font-size: 5vw;
  position: relative;
  color: #F4F3EE;
  opacity: 1;
  font-family: "League Spartan", serif;
  text-align: center;
}
#butterfly {
  height: 10%;
  width: 10%;
  top: 20%;
  left: 35%;
  z-index: 1;
  position: relative;
  opacity: 100%;
  color: white;
}
#cursor0 {
  position: absolute;
  display: none;
  z-index: 1;
}
#cursor1 {
  position: absolute;
  display: none;
  z-index: 1;
}
#cursor2 {
  position: absolute;
  display: none;
  z-index: 1;
}
#updates {
  z-index: 1;
  font-size: 25px;
  position: relative;
  color: #F4F3EE;
  opacity: 1;
  font-family: "League Spartan", serif;
}
#github {
    z-index: 1;
    position: relative;
    top: 15px;
    left: 10px;
}
.links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 9999;
}
a{
  z-index: 9999;
  position: relative;
}
@keyframes ani1 {
  100% {
    opacity: 1;
  }
}
